.cards-wrapper {
    display: flex;
    justify-content: center;
  }
  .life-at-cagtu .card img {
    max-width: 100%;
    max-height: 100%;
  }
  .life-at-cagtu .card {
    width: 18rem;
    margin: 0 0.5em;
    border: none;
    border-radius: 0;
  }
  .life-at-cagtu .carousel-inner {
    padding: 0;
  }
  .life-at-cagtu .card-body {
    font-family: 'Poppins';
  }
  .life-at-cagtu .card-body .card-title{
    font-size: 24px;
    font-weight: 600;
    color:#282938;
  }
  .life-at-cagtu .card-body .card-text{
    font-size: 16px;
    font-weight: 500;
    color:#0961C9;
    font-family: 'Inter';
  }
  button.carousel-control-prev,
  button.carousel-control-next {
    background-color: #000;
    width: 5vh;
    height: 5vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
  }
.s-active{
    width: 20rem;
    box-shadow:0px 121px 48px #00000003, 0px 68px 41px #0000000a, 0px 30px 30px #00000012, 0px 8px 17px #00000014, 0px 0px 0px #00000014;
}
.s-active img{
    padding: 20px;
}