@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
.message-ceo{
    font-family: 'Poppins';
    background-image: url("../images/assets/flower-pattern.svg");
    background-repeat: no-repeat;
    background-position: right;
    margin: 0 0 80px 0;
}
.message-ceo .message{
    padding: 160px 0 40px 0;
    background-image: url("../images/assets/quotes.svg");
    background-repeat: no-repeat;
    background-position: left;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    color: #333333;
}
.ceo-info{
    text-align: center;
}
.ceo-info h1{
    font-size: 24px;
    font-weight: 600;
    color: #333333;
}
.ceo-info h2, .ceo-info h3{
    font-size: 18px;
    font-weight: 500;
    color: #524949;
}