@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

.contact{
    font-family: 'Poppins';
    padding: 80px 0;
    background: #F5F5F5;
    background-image: url('../images/flower-white.svg');
    background-repeat: no-repeat;
    background-position: left;
    background-size: 400px auto;
}
.contact h1{
    font-size: 16px;
    color: #0961C9;
    margin: 0 0 16px 0;
    text-transform: uppercase;
}
.contact img{
    width: 706px;
    height: 756px;
}
.left-col form{
    width: 80%;
}
.left-col form button{
    background-color: #FFC107 !important;
    border: none;
    padding: 16px 90px;
    margin: 24px 0;
    color: #000;
    font-size: 16px;
    font-weight: 600;
}
.form-group label{
    margin: 0 0 6px 0;
}
input[type='email'],input[type='number']{
    margin: 0 0 24px 0;
    height: 48px;
}
form .form-check{
    margin: 24px 0;
    position: relative;
}
form .form-check label{
    margin: 0;
    position: absolute;
    top: 40%;
    padding: 0 12px;

}
input[type='checkbox']{
    height: 32px;
    width: 32px;
    
}