@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
body{
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.p-4{
    color: #fff;
    border-top: 1px solid #fff;
    background-color: #141414;
    width: 100%;
    font-family: 'Poppins';
}
.lower-footer{
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Poppins';
}
.p-4 .copyright{
    padding: 0 0 0 40px;
    font-family: 'Poppins';
}
.footer{
    margin-top: auto;
    background-color:#141414 ;
    background-image: url(../images/assets/flower-dots.svg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 200px auto;
}
.upper-footer{
    color: #fff;
    padding: 40px 0;
    background-image: url(../images/assets/skyline.svg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size:auto;
    font-family: 'Poppins';
}

.navbar-nav .quick-links{
    padding: 2px 0;
    color: #fff !important;
}

.social-media{
    display: inline-flex;
    padding: 0 0 0 55px;
}
.social-media a{
    text-decoration: none;
    color: #000;
}
.fb, .tw, .ln{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    font-size: 16px;
    border-radius: 100%;
    padding: 10px;
    height: 25px;
    width: 25px;
    margin: 0 20px 10px 0;
    box-shadow: 0 4px 4px #00000025;
}
.fb:hover{
    background-color: #1877f2;
    transition: .2s;
}
.fb:hover .fa-facebook-f{
    color: #fff;
}
.tw:hover{
    background-color: #1da1f2;
    transition: .2s;
}
.tw:hover .fa-twitter{
    color: #fff;
}
.ln:hover{
    background-color: #0077b5;
    transition: .2s;
}
.ln:hover .fa-linkedin{
    color: #fff;
}
.navbar-nav li .contact{
    padding: 2px 0;
    color: #fff;
    text-decoration: none;
}
/* @media only screen and (max-width:768px){
    .social-media{
        display: flex;
        justify-content: center;
        align-items: center;
    }
} */