@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

.navbar-brand img{
    width: 125px;
    height: 48px;
}
.heroSection{
    background-image: url("../images/hero.jpg");
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-position: center;
    margin: 0;
    width: 100%;
    /* padding: 250px 0; */
}
.hero-text{
    font-family: 'Poppins';
    text-transform: capitalize;
    padding: 0;
    margin: 0 0 5px 0;
    color: #fff;    
    text-align: center;
    padding: 296px 0 50px 0;
}
.hero-text h1{
    font-size: 96px;
    font-weight: 700;
}
.hero-text .subhead{
    font-size: 20px;
    font-weight: 500;
    margin: 16px 0 0 0;
}
.lets-talk{
    background: none;
    border: 1px solid #fff;
    padding: 0 30px;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    margin: 0 96px 0 56px;
}
.hero-cta{
    margin: 40px 0 0 0;
}
.primary-cta{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 40px;
    font-weight: 500;
}
.primary-cta .cta-icon{
    margin: 0 0 0 20px;
}
.primary-cta:hover, .lets-talk:hover{
    background-color: #FFBF00;
    color: #fff;
    transition-duration: .3s;
    border: 1px solid #FFBF00;
}
.social-hero{
    display: block;
}
.social-hero a{
    text-decoration: none;
    color: #337CD2;
}
.social-hero .fb, .social-hero .tw, .social-hero .ln{
    background: none;
    font-size: 16px;
    border: 2px solid #767676;
    height: 48px;
    width: 48px;
    margin: 20px 80px;
}