@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

.insights{
    font-family: 'Poppins';
    margin: 0 0 80px 0;
    background-image: url('../images/assets/flower-dots2.svg');
    background-repeat: no-repeat;
    background-position: left;
    background-size: 250px auto;
}
.insights .title{
    margin: 40px 0 0 0;
    font-size: 16px;
    color: #0961C9;
    text-transform: uppercase;
    font-weight: 600;
}
.insights h2{
    font-size: 40px;
    font-weight: 700;
    color: #333;
    margin: 16px 0 0 0;
}
.insights .latest-resources{
    color: #0961C9;
}
.insights .all-posts-btn{
    background: none;
    border-radius: 4px;
    border: 2px solid #0961C9;
    color: #074FA5;
    padding: 16px 32px;
    font-size: 16px;
    font-weight: 700;
    margin: 40px 0 0 0;
}
.insights .all-posts-btn:hover{
    background: #FFBF00;
    border:2px solid #FFBF00;
    color: #fff;
}
.insights .fa-arrow-right{
    margin: 0 0 0 10px;
    font-size: 18px;
}
.insights .insights-card{
    border: none;
    background-color: #fff;
    margin: 60px 0 0 0;
    width: 384px;
    overflow: hidden;
}

.insights-card .card-body{
    padding: 30px 0;
}
.insights .top{
    display: block;
    width: 100%;
}
.insights .top h3{
    font-size: 16px;
    color: #0961C9;
    font-weight: 500;
    text-transform: uppercase;
    margin: 14px 0;
}
.insights .top h4{
    font-size: 24px;
    font-weight: 600;
    color: 1f1f1f;
}
.insights .top p{
    font-size: 16px;
    color: #545454;
    font-weight: 500;
    font-family: 'Inter';
}
.insights .author{
    font-size: 16px;
    color: #afafaf;
    font-weight: 500;
}
.row{
    margin: 0;
    padding: 0;
}
@media only screen and (max-width: 1400px){
    .insights .insights-card{
        width: 300px;
    }
}
@media only screen and (max-width: 769px){
    .insights .insights-card{
        width: 260px;
    }
}
@media only screen and (max-width: 576px){
    .insights .insights-card{
        width: 100%;
        margin: 20px 5px;
    }
}
