@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

.it-solutions{
    font-family: 'Poppins';
}
.banner{
    background-image: url("../images/it-sol-banner.jpg");
    background-repeat: no-repeat;
    background-position: center;
}
.it-solutions h1{
    font-size: 96px;
    font-weight: 700;
    color: #fff;
    padding: 65px 0;
}
.it-solutions-btn{
    background: #fff;
    border-radius: 4px;
    border: none;
    color: #0C0C0C;
    padding: 16px 50px;
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 700;
    margin: 0 0 193px 0;
}
.it-solutions-btn .fa-arrow-right{
    margin: 0 10px;
    font-size: 14px;
    color: #0961C9;
}
.it-solutions-btn:hover{
    background: #FFBF00;
    color: #fff;
}
.it-solutions-btn:hover .fa-arrow-right{
    color: #fff;
}
.it-solutions-list{
    margin: -110px 0 0 0;
}
.accordion{
    border-radius: 4px;
    margin: 0 0 80px 0;
}
.accordion-button{
    height: 96px;
    font-size: 24px;
    font-weight: 600;
}