@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

.navbar{
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 600;
}
.mynav-links{
    color: #BBBBCB !important;
    font-size: 18px;
    border-left: .2px solid #fff;
}
.mynav-links:hover{
    cursor: pointer;
    color: #fff !important;
}
.navbar-toggler{
    font-size:1rem !important;
}
.navbar-toggler{
    background-color: #fff !important;
}
.nav-link-active{
    color: #fff !important;
}
.navbar-light .navbar-toggler{
    color: #3772b6 !important;
}
.navbar-toggler:focus {
    box-shadow:none !important;
}
.navbar-nav{
    margin-top: 10px;
}