@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

.our-team{
    font-family: 'Poppins';
    background-color: #F9F9F9;
}
.our-team .title, .life-at-cagtu .title{
    margin: 40px 0 0 0;
    font-size: 16px;
    color: #0961C9;
    text-transform: uppercase;
    font-weight: 600;
}
.our-team h2, .life-at-cagtu h2{
    font-family: 'Poppins';
    font-size: 40px;
    font-weight: 700;
    color: #333;
    margin: 16px 0 40px 0;
}
.our-team .cagtu{
    color: #0961C9;
}
.our-team .team-member{
    width: 248px;
    height: 248px;
    position: relative;
    margin: 0 0 40px 0;
}
.our-team .m1{
    background-image: url('../images/m1.png');
}
.our-team .m2{
    background-image: url('../images/m2.png');
}
.our-team .m3{
    background-image: url('../images/m3.png');
}
.our-team .m4{
    background-image: url('../images/m4.png');
}

.our-team .team-member h1{
    font-size: 16px;
    color: #fff;
    font-family: 'Inter';
    position: absolute;
    bottom: 0;
    padding: 20px 10px 10px 10px;
}
