
  .wrapper{
    height: 38px;
    width: 318px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  .btn-1{
    height: 40px;
    width: 100px;
    opacity: 1;
  }
  .wrapper .field{
    height: 100%;
    width: 100%;
    opacity: 1;
    position: relative;
  }
  .wrapper .field input{
    height: 100%;
    width: 100%;
    border: none;
    border-bottom: 2px solid #fff;
    padding: 0 130px 0 0;
    font-size: 20px;
    outline: none;
    background: none;
    color: #fff;
    box-shadow: 5px 5px 30px rgba(0,0,0,.2);
  }
  .wrapper .field input::placeholder{
    color: #fff;
    font-size: 18px;
    margin: 0;
    padding: 0;
  }
  .wrapper .field .btn-2{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 14px;
    color: #000;
    line-height: 40px;
    background: #fff;
    height: 38px;
    width: 38px;
    user-select: none;
    cursor: pointer;
  }
  .wrapper .field .btn-2:active{
    transform: translateY(-50%) scale(0.9);
  }
  .navbar-nav .icons{
      margin: 0 16px 0 0;
  }